@import "https://fonts.googleapis.com/css?family=Karla";

/* Variables */

:root {
  --primary-color: #1a936f;
  --primary-color-darker: #178362;
  --dark-color: #114b5f;
  --light-color: #f3e9d2;
  --green: #17b978;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

html {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 1rem;
  line-height: 1.6;
}

html,
body,
#root,
.plant-app {
  margin: 0;
  height: 100%;
}

.btn {
  background-color: #2d385a;
  border: none;
  color: var(--light-color);
  padding: 0.5em 1em;
  font-size: 16px;
  border-radius: 0.2em;
  margin: 1em;
  box-shadow: var(--shadow);
}

.btn:hover {
  background: var(--light-color);
  color: var(--dark-color);
  cursor: pointer;
}

/* Login Page */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-page {
  display: flex;
  flex-direction: column;
}

.login-header {
  font-size: 2em;
}

.login-body {
  color: var(--light-color);
  background-color: var(--primary-color-darker);
  padding: 2em;
  margin: 1em;
  border-radius: 0.35em;
  box-shadow: var(--shadow);
  display: inline-block;
  width: 35%;
}

.login-body input {
  padding: 0.75em;
  display: inline-block;
  border: 1px solid #ccc;
  width: 75%;
}

/* Plant App Body */

.plant-app {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Plant App Header */
.plant-app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-color-darker);
  padding: 2rem;
  width: 100%;
}

.plant-app-header h1 {
  font-size: 2.25em;
}

.logout {
  font-size: 1.35em;
}

.logout button {
  background-color: transparent;
  color: var(--light-color);
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 0.75em;
}

/* Navigation Bar */

.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav ul {
  padding: 0;
  list-style: none;
}

.main-nav button {
  padding: 1em 5em;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: inherit;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.main-nav button:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

/* App Body */

.app-body {
  padding: 0 1.5em 1.5em 1.5em;
}

.app-body-main {
}

/* Searchbar */

.search-bar input {
  padding: 0.75em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  margin-right: 0.5em;
  margin-left: 0.1em;
}
/* Cards */

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.card-title {
  font-size: 1.5em;
  text-align: center;
}
.card-body {
  background-color: var(--primary-color-darker);
  padding: 1em;
  border-radius: 0.5em;
  display: inline-block;
}

.card-body-add {
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.card-body-add i {
  align-self: center;
  opacity: 0.5;
  font-size: 4em;
}

.card-body-add:hover {
  background: var(--light-color);
  color: var(--dark-color);
  opacity: 0.5;
}

.card-body ul {
  list-style: none;
}

.card-body li {
  display: inline;
  color: var(--light-color);
}

.btn-update {
  margin-top: 0;
}

.card-btn {
  margin: 0;
}

/* Plant Form */

.plant-form-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 30%;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plant-form {
  background-color: var(--primary-color-darker);
  text-align: center;
  padding: 1em;
  border-radius: 0.3em;
  transition: 1s ease-in;
}

.plant-form-input {
  padding: 0.75em;
  display: inline-block;
  border: 1px solid #ccc;
  width: 30em;
  margin: 1em;
}

.plant-form select {
  padding: 0.75em;
  display: inline-block;
  border: 1px solid #ccc;
  width: 30em;
  margin: 1em;
}

.plant-form-p {
  font-size: 0.85em;
}

/* Notification */
.notif-fail {
  background-color: var(--light-color);
  color: red;
  font-size: 1.25em;
  margin: 0;
  text-align: center;
}
.notif-success {
  background-color: var(--light-color);
  color: var(--primary-color);
  font-size: 1.25em;
  margin: 0;
  text-align: center;
}

.hidden {
  display: none;
}

@media (max-width: 1500px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .login-body {
    width: 60%;
  }

  .plant-form input {
    width: 80%;
  }

  .plant-form select {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .plant-app {
    display: flex;
    flex-direction: column;
  }
  .login-body {
    width: 75%;
  }

  .plant-form-wrapper {
    padding: 0;
    top: 0;
    left: 0;
    transform: none;
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  .plant-form {
    padding-top: 3em;
    padding-bottom: 10em;
    height: 100%;
  }

  .plant-form input {
    width: 50%;
  }

  .plant-form select {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .card-list {
    grid-template-columns: 1fr;
  }
  .login-body {
    width: 60%;
  }

  .main-nav {
    display: none;
  }
}
